{% extends 'base.html' %}
{% load static %}

{% block title %}
  New Employee
{% endblock %}
{% block nav %}
  {% include 'main_top_navbar.html' with active_tab='hr' %}
{% endblock %}
{% block content %}
  <div class="container mt-5 mb-5 largest-margin">
    <h2 class="mb-4 form-heading">Update Employee</h2>
    <form method="POST" id="employee-form" enctype="multipart/form-data">
      {% csrf_token %}
      <span class="text-danger">*</span>    
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="mb-0">Basic Information</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="title">Title <span class="text-danger">*</span></label>
              <select class="form-control" id="title" name="title">
                <option value="Mr." {% if employee.title == 'Mr.' %}selected{% endif %}>Mr.</option>
                <option value="Ms." {% if employee.title == 'Ms.' %}selected{% endif %}>Ms.</option>
                <option value="Dr." {% if employee.title == 'Dr.' %}selected{% endif %}>Dr.</option>
              </select>
            </div>
            
            <div class="col-md-4">
              <label for="full_name">Full Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="full_name" value="{{ employee.full_name|default:'' }}" placeholder="Enter Full Name" name="full_name" />
            </div>
            
            <div class="col-md-4">
              <label for="father_name">Father Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="father_name" value="{{ employee.father_name|default:'' }}" name="father_name" placeholder="Enter Father Name" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="marital_status">Marital Status <span class="text-danger">*</span></label>
              <select class="form-control" id="marital_status" name="marital_status">
                <option value="Married" {% if employee.marital_status == 'Married' %}selected{% endif %}>Married</option>
                <option value="Single" {% if employee.marital_status == 'Single' %}selected{% endif %}>Single</option>
                <option value="Divorced" {% if employee.marital_status == 'Divorced' %}selected{% endif %}>Divorced</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="gender">Gender <span class="text-danger">*</span></label>
              <select class="form-control" id="gender" name="gender">
                <option value="Male" {% if employee.gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if employee.gender == 'Female' %}selected{% endif %}>Female</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="date_of_birth">Date of Birth <span class="text-danger">*</span></label>
              <input type="date" class="form-control" id="date_of_birth" value="{{ employee.date_of_birth|date:'Y-m-d'|default:'' }}" name="date_of_birth" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="designation">Designation <span class="text-danger">*</span></label>
              <select class="form-control" id="designation" name="designation">
                {% for designation in designation_detail %}
                  <option value="{{ designation.id }}" {% if employee.designation_id == designation.id %}selected{% endif %}>
                    {{ designation.title }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label for="salary">Salary <span class="text-danger">*</span></label>
              <input type="number" class="form-control" id="salary" value="{{ employee.salary|default:0 }}" name="salary" placeholder="Salary" />
            </div>
            <div class="col-md-4">
              <label for="qualification">Qualification <span class="text-danger">*</span></label>
              <input type="text" class="form-control" value="{{ employee.qualification|default:'' }}" id="qualification" name="qualification" placeholder="Enter Qualification" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="country">Country <span class="text-danger">*</span></label>
              <input type="text" class="form-control" value="{{ employee.country|default:'India' }}" id="country" name="country" placeholder="Enter Country" />
            </div> 
            <div class="col-md-4">
              <label for="personal_contact">Personal Contact <span class="text-danger">*</span></label>
              <input type="number" class="form-control" value="{{ employee.personal_contact|default:'' }}" id="personal_contact" name="personal_contact" placeholder="Enter Personal Contact" />
            </div>         
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="mb-0">Job Specific Information</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="warehouse">Warehouse <span class="text-danger">*</span></label>
              <select class="form-control" id="warehouse" name="warehouse" required>
                <option value="" disabled>Select Warehouse</option>
                {% for warehouse in warehouse_detail %}
                  <option value="{{ warehouse.id }}" {% if employee.warehouse.id == warehouse.id %}selected{% endif %}>
                    {{ warehouse.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            
            <!-- Group Dropdown -->
            <div class="col-md-4">
              <label for="group">Group <span class="text-danger">*</span></label>
              <select class="form-control" id="group" name="group" required>
                <option value="" disabled>Select Group</option>
                {% for group in group_detail %}
                  <option value="{{ group.id }}" {% if employee.group.id == group.id %}selected{% endif %}>
                    {{ group.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
            
          
            <div class="col-md-4">
              <label for="salary_type">Salary Type <span class="text-danger">*</span></label>
              <select class="form-control" id="salary_type" name="salary_type">
                <option value="Monthly" {% if employee.salary_type == 'Monthly' %}selected{% endif %}>Monthly</option>
                <option value="Hourly" {% if employee.salary_type == 'Hourly' %}selected{% endif %}>Hourly</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="mb-0">Additional Information (Optional)</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="pan_card">Pan Card</label>
              <input type="text" class="form-control" value="{{ employee.pan_card|default:'' }}" id="pan_card" name="pan_card" placeholder="Enter Pan Card" />
            </div>
            <div class="col-md-4">
              <label for="aadhar_number">Aadhar Number</label>
              <input type="number" class="form-control" value="{{ employee.aadhar_number|default:'' }}" id="aadhar_number" name="aadhar_number" placeholder="Enter Adhar Card" />
            </div>
            <div class="col-md-4">
              <label for="correspondence_address">Correspondence Address</label>
              <textarea class="form-control" id="correspondence_address" name="correspondence_address" placeholder="Enter Permanent Address">{{ employee.correspondence_address|default:'' }}</textarea>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="blood_group">Blood Group</label>
              <input type="text" class="form-control" id="blood_group" value="{{ employee.blood_group|default:'' }}" name="blood_group" placeholder="Enter Blood Group" />
            </div>
            <div class="col-md-4">
              <label for="emergency_contact">Emergency Contact</label>
              <input type="number" class="form-control" value="{{ employee.emergency_contact|default:'' }}" id="emergency_contact" name="emergency_contact" placeholder="Enter Emergency Contact" />
            </div>
            <div class="col-md-4 form-check form-switch">
              <div>
                <label class="form-check-label" for="driving_license">Driving License</label>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" class="form-check-input" id="driving_license" name="driving_license" {% if employee.driving_license %}checked{% endif %} style="height: 30px;width: 60px;" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="report_to">Report to </label>
              <input type="text" class="form-control" value="{{ employee.report_to|default:'' }}" id="report_to" name="report_to" placeholder="Enter Report to" />
            </div> 
            <div class="col-md-4">
              <label for="date_of_joining">Date of Joining </label>
              <input type="date" class="form-control" value="{{ employee.date_of_joining|date:'Y-m-d'|default:'' }}" id="date_of_joining" name="date_of_joining" />
            </div>
            <div class="col-md-4">
              <label for="image">Image</label>
              <input type="file" class="form-control" id="image" name="image" />
              {% if employee.image %}
                <small class="text-muted">Current: {{ employee.image.name }}</small>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <h5 class="mb-0">Salary Information</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="advance">Advance Salary</label>
              <input type="number" class="form-control" value="{{ employee.advance|default:0 }}" id="advance" name="advance" placeholder="Enter Advance salary" />
            </div>
            <div class="col-md-4">
              <label for="bank_name">Bank Name</label>
              <input type="text" class="form-control" value="{{ employee.bank_name|default:'' }}" id="bank_name" name="bank_name" placeholder="Enter Bank Name" />
            </div>
            <div class="col-md-4">
              <label for="saving">Savings Amount</label>
              <input type="number" class="form-control" value="{{ employee.savings|default:0 }}" id="saving" name="saving" value="0" placeholder="Enter Savings Amount" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label for="branch_name">Branch Name</label>
              <input type="text" class="form-control" value="{{ employee.branch_name|default:'' }}" id="branch_name" name="branch_name" placeholder="Enter Branch Name" />
            </div>
            <div class="col-md-4">
              <label for="salary_account">Salary Account</label>
              <input type="text" class="form-control" value="{{ employee.salary_account|default:'' }}" id="salary_account" name="salary_account" placeholder="Enter Salary Account" />
            </div>
            <div class="col-md-4">
              <label for="ifsc_code">IFSC Code</label>
              <input type="text" class="form-control" value="{{ employee.ifsc_code|default:'' }}" id="ifsc_code" name="ifsc_code" placeholder="Enter IFSC Code" />
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <a href="{% url 'employee_list' %}" class="btn btn-secondary me-2">Back</a>
          <button type="submit" class="btn btn-primary">Update Employee</button>
        </div>
      </div>
      
    </form>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/hr/new-employee.js' %}"></script>
  <script>
    {% if error_message %}
        Toastify({
            text: "{{ error_message }}",
            duration: 3000,
            newWindow: true,
            gravity: "top",
            positionLeft: true,
            backgroundColor: "linear-gradient(to right, #1e81b0, #8e0000)"
        }).showToast();
    
    {% elif success %}
        Toastify({
            text: "{{ success }}",
            duration: 3000,
            newWindow: true,
            gravity: "top",
            positionLeft: true,
            backgroundColor: "linear-gradient(to right,  #00b09b, #96c93d)"
        }).showToast();
    
    {% else %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                Toastify({
                    text: "{{ message }}",
                    duration: 3000,
                    newWindow: true,
                    gravity: "top",
                    positionLeft: true,
                    backgroundColor: "linear-gradient(to right, #1e81b0, #8e0000)"
                }).showToast();
            {% else %}
                Toastify({
                    text: "{{ message }}",
                    duration: 3000,
                    newWindow: true,
                    gravity: "top",
                    positionLeft: true,
                    backgroundColor: "linear-gradient(to right,  #00b09b, #96c93d)"
                }).showToast();
            {% endif %}
        {% endfor %}
    {% endif %}
  </script>
{% endblock %}