{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block nav %}
{% include 'main_top_navbar.html' with active_tab='inventory' %}
{% endblock %}

{% block content %}

{% include '_inventory_subnavbar.html' with active_tab='items' %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
      // Find the active tab and trigger a click event
      const activeTab = document.querySelector(".nav-link.active.activate");
      if (activeTab) {
        activeTab.click();
      }
    });
  </script> 
{% endblock %}