<nav class="module-subnav">
  <button class="btn btn-sm btn-secondary d-lg-none me-2" type="button"
          data-bs-toggle="collapse" data-bs-target="#accountSubNav">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse d-lg-flex" id="accountSubNav" style="width:100%;">
    <ul class="subnav-tabs">
      <li class="subnav-tab">
        <a class="{% if active_tab == 'fin_year' %}active{% endif %} activate"
           href="{% url 'fin_year' %}">
          <i class="fas fa-calendar-alt me-1"></i>Financial Year
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'schedule' %}active{% endif %} activate"
           href="{% url 'schedule' %}">
          <i class="fas fa-clock me-1"></i>Schedule
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'coa' %}active{% endif %} activate"
           href="{% url 'coa' %}">
          <i class="fas fa-sitemap me-1"></i>Chart of Accounts
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'bank_cash' %}active{% endif %} activate"
           href="{% url 'bank_cash' %}">
          <i class="fas fa-university me-1"></i>Bank / Cash Masters
        </a>
      </li>
    </ul>
  </div>
</nav>
