<nav class="module-subnav">
  <button class="btn btn-sm btn-secondary d-lg-none me-2" type="button"
          data-bs-toggle="collapse" data-bs-target="#broilerSubNav">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse d-lg-flex" id="broilerSubNav" style="width:100%;">
    <ul class="subnav-tabs">
      <li class="subnav-tab">
        <a class="{% if active_tab == 'branch' %}active{% endif %} activate"
           href="{% url 'branch_template' %}">
          <i class="fas fa-code-branch me-1"></i>Branch
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'supervisor' %}active{% endif %} activate"
           href="{% url 'supervisor_template' %}">
          <i class="fas fa-user-tie me-1"></i>Supervisor
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'broiler_place' %}active{% endif %} activate"
           href="{% url 'branch_place' %}">
          <i class="fas fa-map-marker-alt me-1"></i>Broiler Place
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'broiler_farm' %}active{% endif %} activate"
           href="{% url 'branch_farm' %}">
          <i class="fas fa-tractor me-1"></i>Broiler Farm
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'broiler_batch' %}active{% endif %} activate"
           href="{% url 'broiler_batch' %}">
          <i class="fas fa-layer-group me-1"></i>Broiler Batch
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'broiler_disease' %}active{% endif %} activate"
           href="{% url 'broiler_disease' %}">
          <i class="fas fa-virus me-1"></i>Broiler Disease
        </a>
      </li>
    </ul>
  </div>
</nav>
