<nav class="module-subnav">
  <button class="btn btn-sm btn-secondary d-lg-none me-2" type="button"
          data-bs-toggle="collapse" data-bs-target="#inventorySubNav">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse d-lg-flex" id="inventorySubNav" style="width:100%;">
    <ul class="subnav-tabs">
      <li class="subnav-tab">
        <a class="{% if active_tab == 'item_category' %}active{% endif %} activate"
           href="{% url 'item_category' %}">
          <i class="fas fa-folder me-1"></i>Item Category
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'items' %}active{% endif %} activate"
           href="{% url 'items' %}">
          <i class="fas fa-box me-1"></i>Items
        </a>
      </li>
      <li class="subnav-tab">
        <a class="{% if active_tab == 'warehouse' %}active{% endif %} activate"
           href="{% url 'warehouse' %}">
          <i class="fas fa-warehouse me-1"></i>Warehouse
        </a>
      </li>
    </ul>
  </div>
</nav>
