<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} Hi Tech Farms {% endblock %}
    </title>
    
    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
    
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
    
    <!-- Block for additional custom CSS -->
    {% block css %}{% endblock %}
  </head>

  <style>
    .bg-success {
      background-color: rgb(9 82 157) !important;
    }

  </style>

  <body class="bg-light">
    <!-- Main Content Wrapper -->
    <div class="content">
      <!-- Navigation Bar -->
      {% block nav %}{% endblock %}
      
      <!-- Body Content -->
      <div class="container-cstm">
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
      <p>&copy; 2024 Hi Tech Farms. All rights reserved.</p>
    </footer>


    
    <!-- jQuery and Bootstrap JS -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
        <!-- External JS Libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    
    <!-- Block for additional custom JS -->
    {% block js %}{% endblock %}
  </body>
</html>
